{% extends 'base.html' %} {% load static %} {% block container %}
<div class="app-content">
  <div class="u-s-p-y-60">
    <div class="section__content">
      <div class="container">
        <div class="breadcrumb">
          <div class="breadcrumb__wrap">
            <ul class="breadcrumb__list">
              <li class="has-separator">
                <a href="{% url 'shop:home' %}">Home</a>
              </li>
              <li class="is-marked">
                <a href="{% url 'shop:contact' %}">Contact</a>
              </li>
            </ul>
          </div></div></div></div></div>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <div class="u-s-p-b-60">
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="g-map">
              <div id="map" style="width: 100%; height: 400px"></div>
            </div>
          </div></div></div></div></div>
  <script>
    var map = L.map("map").setView([26.6458, 88.1433], 12); // Kakarvitta, Jhapa
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: "&copy; OpenStreetMap contributors",
    }).addTo(map);
    L.marker([26.6458, 88.1433])
      .addTo(map)
      .bindPopup("Kakarvitta, Jhapa")
      .openPopup();
  </script>
  <div class="u-s-p-b-60">
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 u-s-m-b-30">
            <div class="contact-o u-h-100">
              <div class="contact-o__wrap">
                <div class="contact-o__icon">
                  <i class="fas fa-phone-volume"></i>
                </div>
                <span class="contact-o__info-text-1">LET'S HAVE A CALL</span>
                <span class="contact-o__info-text-2">+977 9804994034</span>
                <span class="contact-o__info-text-2">+977 9804994226</span>
              </div></div></div>
          <div class="col-lg-4 col-md-6 u-s-m-b-30">
            <div class="contact-o u-h-100">
              <div class="contact-o__wrap">
                <div class="contact-o__icon">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <span class="contact-o__info-text-1">OUR LOCATION</span>
                <span class="contact-o__info-text-2">Mechinagar, Jhapa</span>
                <span class="contact-o__info-text-2">Koshi Province</span>
              </div></div></div>
          <div class="col-lg-4 col-md-6 u-s-m-b-30">
            <div class="contact-o u-h-100">
              <div class="contact-o__wrap">
                <div class="contact-o__icon"><i class="far fa-clock"></i></div>
                <span class="contact-o__info-text-1">WORK TIME</span>
                <span class="contact-o__info-text-2">5 Days a Week</span>
                <span class="contact-o__info-text-2">From 9 AM to 7 PM</span>
              </div>
            </div></div></div></div></div></div>
  <div class="u-s-p-b-60">
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="contact-area u-h-100">
              <div class="contact-area__heading">
                <h2>Get In Touch</h2>
              </div>
              <form class="contact-f" method="post" action="{% url 'shop:contact' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6 u-h-100">
                        <div class="u-s-m-b-30">
                            {{ form.name }}
                        </div>
                        <div class="u-s-m-b-30">
                            {{ form.email }}
                        </div>
                        <div class="u-s-m-b-30">
                            {{ form.subject }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 u-h-100">
                        <div class="u-s-m-b-30">
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button class="btn btn--e-brand-b-2" type="submit">
                            Send Message
                        </button>
                    </div></div>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}
            </div></div></div></div></div></div></div>
{% endblock container %}